body {
    background-color: #faf4f2;
    margin: 0;
}

.header {
    background-color: #f8e1db;
    padding: 10px 30px;
    position: fixed;
    top: 0;
    right: 10;
    width: 100%;
    z-index: 10;
}

.header .navbar {
    margin-top: 10px;
}

.header .navbar a {
    color: #000000;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
    margin-right: 20px;
}

.header .navbar a:hover {
    color: #ff0000;
}

.carousel {
    background-image: url(../img/BG.png);
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.activity {
    margin: 80px 0;
}

.activity .title {
    text-align: center;
    margin-bottom: 30px;
}

.activity .title h1 {
    background-color: #faf4f2;
    color: #8d8d8d;
}

.activity .main .row .col {
    float: left;
    width: 25%;
    padding: 0 15px;
    box-sizing: border-box;
}

.activity .main .item {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 30px;
    text-align: center;
}

.activity .main .item .thumbnail {
    position: relative;
}

.activity .main .item .thumbnail img {
    width: 100%;
    border-radius: 30px;
}

.activity .main .item h1 {
    font-size: 25px;
}

.activity .main .item p {
    color: #8d8d8d;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
}

.activity .main .item a {
    color: #8d8d8d;
    padding: 10px 40px;
    background-color: #e8e8e8;
    display: inline-block;
    text-decoration: none;
    border-radius: 25px;
}

.activity .main .item a:hover {
    color: #ff0000;
}

.activity .main .item .thumbnail i {
    font-size: 20px;
    color: #e76f51;
    position: absolute;
    top: 20px;
    right: 20px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.5);
    width: 45px;
    height: 45px;
    line-height: 45px;
}

.clear {
    clear: both;
}

.activity .view {
    margin: 60px 0 100px;
    text-align: center;
}

.activity .view a {
    margin-bottom: 20px;
    color: #e87457;
    border: 1px solid #e87457;
    padding: 15px 70px;
    text-decoration: none;
    border-radius: 25px;
}

.activity .view a:hover {
    color: #ffffff;
    background-color: #e87457;
}

.contact {
    border-radius: 20px;
    margin-bottom: 100px;
    background-color: #f8e1db;
}

.contact .left {
    float: left;
    width: 50%;
    padding: 20px 60px;
    box-sizing: border-box;
}

.contact .right {
    float: left;
    width: 50%;
    padding: 20px 60px;
    box-sizing: border-box;
}

.contact .left {
    background-image: url(../img/mask.png);
    background-size: cover;
    background-position: center;
}

.contact .right h1 {
    color: #8d8d8d;
}

.contact .right p {
    color: #8d8d8d;
    font-size: 23px;
}

.contact .app {
    color: #8d8d8d;
}

.contact .app img {
    width: 45%;
}

.contact .app,
.contact .follow {
    float: left;
    width: 50%;
}

.contact .follow h2 {
    color: #8d8d8d;
}

.contact .follow i {
    color: #e76f51;
    font-size: 30px;
    margin-right: 10px;
}


.footer {
    padding: 80px 30px 20px 30px;
    background-color: #f8e1db;
    border-radius: 100px 100px 0 0;
    color: #3a3735;
}

.footer h3 {
    font-size: 25px;
    margin-bottom: 20px;
    text-align: left;
}

.footer .info {
    float: left;
    width: 40%;
    line-height: 25px;
    padding: 0 20px;
    box-sizing: border-box;
}

.footer .info p {
    font-size: 20px;
}

.footer .about {
    float: left;
    width: 60%;
    line-height: 25px;
    padding: 0 20px;
    box-sizing: border-box;
}

.footer .about .list {
    float: left;
    width: calc(100% / 3);
}

.footer .about ul {
    list-style: none;
    margin: 0;
    padding: 0;

}

.footer .about li {
    margin-bottom: 10px;
}

.footer .about a {
    text-decoration: none;
    color: #3a3735;
    font-size: 20px;
}

.footer .about a:hover {
    color: #ff0000;
}

.footer .end {
    text-align: center;
    padding-top: 30px;
    font-size: 18px;
}